body {
  background: url('http://ipic.su/img/img7/fs/dendi(1).1571830092.png')
   no-repeat center top / 90%;   
}
.wrapper {
  padding-left: 5%;
  color: green;
}
.plate {
  position: absolute;
  bottom: -5%;
  left: 50%;  
}
.plate:before {
  display: block;
  content: '';
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 100px;
  transform: translate(-50%, -50%) rotateX(45deg);
}

.plate-1 {
  animation: move-plate-1 10s ease 3 forwards;
} 
@keyframes move-plate-1 {
  0% {
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%) rotateX(45deg);
  }
  50% {
    bottom: 60%;
  }
  100% {
    left: 40%;
    bottom: 50%;    
    transform: translate(-50%, -50%) rotateX(45deg) scale(0);
  }
}
.plate-2 {
  animation: move-plate-2 20s ease 5s 3 forwards; 
} 
@keyframes move-plate-2 {
  0% {
    left: 40%;
    bottom: 0%;
    transform: translate(-50%, -50%) rotateX(45deg);
  }
  50% {
    bottom: 60%;
  }
  100% {
    left: 35%;
    bottom: 50%;    
    transform: translate(-50%, -50%) rotateX(45deg) scale(0);
  }
}
.plate-3 {
  animation: move-plate-3 20s ease 7s 3 forwards; 
} 
@keyframes move-plate-3 {
  0% {
    left: 45%;
    bottom: 0%;
    transform: translate(-50%, -50%) rotateX(45deg);
  }
  50% {
    bottom: 60%;
  }
  100% {
    left: 30%;
    bottom: 50%;    
    transform: translate(-50%, -50%) rotateX(45deg) scale(0);
  }
}
.reset-input {
  position: absolute;
  top: 1%;
  left: 33%;
}
.reset-input:checked {
  counter-increment: list -2;
}
.plate:checked {
  opacity: 0;
  counter-increment: list;
}
.score:after {
  content: counter(list);
}
